# Only for Docker Deployment

BOT_TOKEN=5620764272:AAFkTmS1llTWCq1dhWxRQBQnIiEI8yQ8f6g # Get it from @botfather

API_ID=21138457

API_HASH=d18937aebbfef48deb77251aeab6dc43

SUDO_USERS_ID=1944626066 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-991444451

GBAN_LOG_GROUP_ID=-991444451

MESSAGE_DUMP_CHAT=-991444451

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://Inhero:omraj12345@cluster0.rhgudld.mongodb.net

ARQ_API_URL=https://thearq.tech # Leave it like this

ARQ_API_KEY=RRDSOW-EOOSIX-TMQLRU-OMIQXW-ARQ # Get it from @ARQRobot

RSS_DELAY=300 # In seconds

UPSTREAM_REPO = "https://github.com/TribeOfficial/NezukoBot.git"
